In [ ]:
sw = ("i", "me", "my", "myself", "we", "our", "ours", "ourselves", "you", "your", "yours", "yourself", "yourselves", "he", "him", "his", "himself", "she", "her", "hers", "herself", "it", "its", "itself", "they", "them", "their", "theirs", "themselves", "what", "which", "who", "whom", "this", "that", "these", "those", "am", "is", "are", "was", "were", "be", "been", "being", "have", "has", "had", "having", "do", "does", "did", "doing", "would", "should", "could", "ought", "i'm", "you're", "he's", "she's", "it's", "we're", "they're", "i've", "you've", "we've", "they've", "i'd", "you'd", "he'd", "she'd", "we'd", "they'd", "i'll", "you'll", "he'll", "she'll", "we'll", "they'll", "isn't", "aren't", "wasn't", "weren't", "hasn't", "haven't", "hadn't", "doesn't", "don't", "didn't", "won't", "wouldn't", "shan't", "shouldn't", "can't", "cannot", "couldn't", "mustn't", "let's", "that's", "who's", "what's", "here's", "there's", "when's", "where's", "why's", "how's", "a", "an", "the", "and", "but", "if", "or", "because", "as", "until", "while", "of", "at", "by", "for", "with", "about", "against", "between", "into", "through", "during", "before", "after", "above", "below", "to", "from", "up", "down", "in", "out", "on", "off", "over", "under", "again", "further", "then", "once", "here", "there", "when", "where", "why", "how", "all", "any", "both", "each", "few", "more", "most", "other", "some", "such", "no", "nor", "not", "only", "own", "same", "so", "than", "too", "very")

In [ ]:
import pandas as pd
emails = pd.read_csv("/content/drive/MyDrive/DS/emails.csv")

In [ ]:
emails.head()

                                                text  spam
0  Subject: naturally irresistible your corporate...     1
1  Subject: the stock trading gunslinger  fanny i...     1
2  Subject: unbelievable new homes made easy  im ...     1
3  Subject: 4 color printing special  request add...     1
4  Subject: do not have money , get software cds ...     1

In [ ]:
emails["text"][0]

"Subject: naturally irresistible your corporate identity  lt is really hard to recollect a company : the  market is full of suqgestions and the information isoverwhelminq ; but a good  catchy logo , stylish statlonery and outstanding website  will make the task much easier .  we do not promise that havinq ordered a iogo your  company will automaticaily become a world ieader : it isguite ciear that  without good products , effective business organization and practicable aim it  will be hotat nowadays market ; but we do promise that your marketing efforts  will become much more effective . here is the list of clear  benefits : creativeness : hand - made , original logos , specially done  to reflect your distinctive company image . convenience : logo and stationery  are provided in all formats ; easy - to - use content management system letsyou  change your website content and even its structure . promptness : you  will see logo drafts within three business days . affordability : your  marketing break - through shouldn ' t make gaps in your budget . 100 % satisfaction  guaranteed : we provide unlimited amount of changes with no extra fees for you to  be surethat you will love the result of this collaboration . have a look at our  portfolio _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ not interested . . . _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _"

In [ ]:
emails.describe()

              spam
count  5728.000000
mean      0.238827
std       0.426404
min       0.000000
25%       0.000000
50%       0.000000
75%       0.000000
max       1.000000

In [ ]:
len(emails[emails["spam"] == 1])

1368

In [ ]:
len(emails[emails["spam"] == 0])

4360

In [ ]:
first_word = []
for i in emails["text"]:
  first_word.append(i.split()[0].lower()[:-1])
print(set(first_word))

{'subject'}

In [ ]:
count = []
for i, j in zip(emails["text"], emails["spam"]):
  count.append((j, i.lower().count("subject")))
for k in set(count):
  print(k, count.count(k))

(1, 3) 21
(0, 7) 19
(0, 10) 4
(0, 3) 533
(1, 2) 144
(0, 15) 2
(1, 5) 2
(0, 11) 2
(0, 4) 235
(1, 1) 1196
(1, 4) 5
(0, 12) 2
(0, 5) 130
(0, 8) 11
(0, 1) 2081
(0, 13) 2
(0, 6) 61
(0, 9) 10
(0, 2) 1268

This word appears in every email hence it won't be helpful to count the number of times it appears

In [ ]:
m = 0
for i in emails["text"]:
  m = max(len(i), m)
print(m)

43952

In [ ]:
import nltk
nltk.download('wordnet')

[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

True

In [ ]:
from nltk.tokenize import RegexpTokenizer
# from nltk.stem import WordNetLemmatizer
from nltk.stem import PorterStemmer
tokenizer = RegexpTokenizer(r'\w+')
stemming = PorterStemmer()
def preproc(text):
  text = text.lower()
  tok = tokenizer.tokenize(text)
  li = []
  for i in tok:
    # if i not in sw and i.isalpha():
    if i not in sw:
      # print(i)
      li.append(stemming.stem(i)) 
  return " ".join(li)

In [ ]:
preproc("00 hello hi")

'00 hello hi'

In [ ]:
emails["corpus"] = emails["text"].apply(preproc)
emails.head()

,text,spam,corpus
0,Subject: naturally irresistible your corporate...,1,subject natur irresist corpor ident lt realli ...
1,Subject: the stock trading gunslinger fanny i...,1,subject stock trade gunsling fanni merril muzo...
2,Subject: unbelievable new homes made easy im ...,1,subject unbeliev new home made easi im want sh...
3,Subject: 4 color printing special request add...,1,subject 4 color print special request addit in...
4,"Subject: do not have money , get software cds ...",1,subject money get softwar cd softwar compat ai...

In [ ]:
emails.sample()

,text,spam,corpus
3412,Subject: re : approval for restricted websit :...,0,subject re approv restrict websit web _ resear...

In [ ]:
import pandas as pd
from sklearn.feature_extraction.text import CountVectorizer

docs = emails["corpus"].tolist()
vec = CountVectorizer()
X = vec.fit_transform(docs)
dtm = pd.DataFrame(X.toarray(), columns=vec.get_feature_names())
dtm.head()

/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

,00,000,0000,000000,00000000,0000000000,000000000003619,000000000003991,000000000003997,000000000005168,...,zwzm,zxghlajf,zyban,zyc,zygoma,zymg,zzmacmac,zzn,zzncacst,zzzz
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
vec = CountVectorizer(min_df=0.05)
X = vec.fit_transform(docs)
spdtm = pd.DataFrame(X.toarray(), columns=vec.get_feature_names())
spdtm.head()

/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

,00,000,01,02,03,04,05,06,07,08,...,week,well,will,wish,within,without,work,write,www,year
0,0,0,0,0,0,0,0,0,0,0,...,0,0,6,0,1,1,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
from sklearn.model_selection import train_test_split

train, test, y_train, y_test = train_test_split(spdtm, emails["spam"], test_size=0.2)

In [ ]:
train

,00,000,01,02,03,04,05,06,07,08,...,week,well,will,wish,within,without,work,write,www,year
5010,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
847,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1471,0,0,2,1,3,2,2,1,0,0,...,0,1,1,0,0,0,0,0,0,1
3343,1,0,1,0,2,0,0,0,0,0,...,1,1,0,0,0,0,1,0,0,2
4028,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
143,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,3,0,0,0
4071,2,0,0,1,0,0,0,0,1,0,...,0,0,1,0,0,0,0,0,2,0
4194,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
122,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4976,0,0,0,0,0,0,0,0,0,0,...,0,2,1,0,2,0,2,0,0,8

In [ ]:
from sklearn import tree # for decision tree models
spamCart = tree.DecisionTreeClassifier()
spamCart.fit(train, y_train)

DecisionTreeClassifier()

In [ ]:
print(f"test score: {spamCart.score(test, y_test)}")
print(f"training score: {spamCart.score(train, y_train)}")

test score: 0.9424083769633508
training score: 0.9989087734613706

In [ ]:
from sklearn.ensemble import RandomForestClassifier
spamRF = RandomForestClassifier()
spamRF.fit(train, y_train)

RandomForestClassifier()

In [ ]:
tree.plot_tree(spamCart)

In [ ]:
import graphviz 
dot_data = tree.export_graphviz(spamCart, out_file=None) 
graph = graphviz.Source(dot_data) 
graph.render("spamCart")

'spamCart.pdf'

In [ ]:
import graphviz
from sklearn import tree # for decision tree models
for i, tr in enumerate(spamRF.estimators_):
  dot_data = tree.export_graphviz(tr, out_file=None) 
  graph = graphviz.Source(dot_data) 
  graph.render(f"spamRF{i}")

In [ ]:
print(f"test score: {spamRF.score(test, y_test)}")
print(f"training score: {spamRF.score(train, y_train)}")

test score: 0.9851657940663177
training score: 0.9989087734613706

In [ ]:
from sklearn import metrics
from sklearn.metrics import roc_auc_score
predCart = spamCart.predict(train)
predRF = spamRF.predict(train)
print(f"Cart AUC: {roc_auc_score(y_train, predCart)}")
print(f"RF AUC: {roc_auc_score(y_train, predRF)}")

Cart AUC: 0.9992807825086306
RF AUC: 0.9992807825086306

In [ ]:
predCart = spamCart.predict(test)
predRF = spamRF.predict(test)
print(f"Cart AUC: {roc_auc_score(y_test, predCart)}")
print(f"RF AUC: {roc_auc_score(y_test, predRF)}")

Cart AUC: 0.914329384131809
RF AUC: 0.974271182342579

**Conclusion:**
In this experiment, I succeessfully classified spam and ham using CART and Random Forest Classifier. The Random Forest algorithm provides a higher
 level of accuracy in predicting outcomes over the CART algorithm. Hence, even on a huge dataset the classifier gave better results. Data preprocessing techniques applied such as feature scaling enhanced the accuracy of the models.